wlp8556jee7Web/WebContent/WEB-INF/wsdl/HelloWlpSoapServerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.b.a/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWlpSoapServerService" targetNamespace="http://jws.b.a/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jws.b.a/" schemaLocation="HelloWlpSoapServerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part element="tns:delete" name="parameters"/>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameters"/>
  </message>
  <message name="entry">
    <part element="tns:entry" name="parameters"/>
  </message>
  <message name="entryResponse">
    <part element="tns:entryResponse" name="parameters"/>
  </message>
  <message name="findAll">
    <part element="tns:findAll" name="parameters"/>
  </message>
  <message name="findAllResponse">
    <part element="tns:findAllResponse" name="parameters"/>
  </message>
  <message name="hello">
    <part element="tns:hello" name="parameters"/>
  </message>
  <message name="helloResponse">
    <part element="tns:helloResponse" name="parameters"/>
  </message>
  <portType name="HelloWlpSoapServer">
    <operation name="delete">
      <input message="tns:delete" wsam:Action="http://jws.b.a/HelloWlpSoapServer/deleteRequest"/>
      <output message="tns:deleteResponse" wsam:Action="http://jws.b.a/HelloWlpSoapServer/deleteResponse"/>
    </operation>
    <operation name="entry">
      <input message="tns:entry" wsam:Action="http://jws.b.a/HelloWlpSoapServer/entryRequest"/>
      <output message="tns:entryResponse" wsam:Action="http://jws.b.a/HelloWlpSoapServer/entryResponse"/>
    </operation>
    <operation name="findAll">
      <input message="tns:findAll" wsam:Action="http://jws.b.a/HelloWlpSoapServer/findAllRequest"/>
      <output message="tns:findAllResponse" wsam:Action="http://jws.b.a/HelloWlpSoapServer/findAllResponse"/>
    </operation>
    <operation name="hello">
      <input message="tns:hello" wsam:Action="http://jws.b.a/HelloWlpSoapServer/helloRequest"/>
      <output message="tns:helloResponse" wsam:Action="http://jws.b.a/HelloWlpSoapServer/helloResponse"/>
    </operation>
  </portType>
  <binding name="HelloWlpSoapServerPortBinding" type="tns:HelloWlpSoapServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="entry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWlpSoapServerService">
    <port binding="tns:HelloWlpSoapServerPortBinding" name="HelloWlpSoapServerPort">
      <soap:address location="http://localhost:9081/wlp8556jee7Web/HelloWlpSoapServerService"/>
    </port>
  </service>
</definitions>
